@page
@model Rookies.CustomerSite.Pages.Product.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" asp-for="Products.Search"/>
            <input type="submit" class="btn btn-primary" /> |
            
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<div class="row">
    @foreach (var item in Model.Products.Items) {
        <div class="col-6 col-xl-4 col-lg-4 col-sm-6" style="padding-bottom: 25px">
            <div class="card">
                <div class="card-header">
                    <a asp-page="./Detail" asp-route-id="@item.Id">
                    <img class="card-img" src="@item.ImagePath" asp-append-version="true" />
                    </a>                 
                </div>
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                    <h3 class="card-text">Price: @Html.DisplayFor(modelItem => item.Price)</h3>
                </div>
            </div>
        </div>
    }
</div>


    @{ var prevDisabled = !Model.Products.HasPreviousPage ? "disable" : "";
        var nextDisabled = !Model.Products.HasNextPage ? "disable" : ""; }

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.Products.SortOrder"
       asp-route-pageIndex="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@Model.Products.Search"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.Products.SortOrder"
       asp-route-pageIndex="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@Model.Products.Search"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
