@page
@model Rookies.CustomerSite.Pages.Product.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" asp-for="Products.Search"/>
            <input type="submit" class="btn btn-primary" /> |
            
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="id"
                   asp-route-currentFilter="@Model.Products.Search">
                    @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Id)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.Items.FirstOrDefault().Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Detail" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="row">
    @foreach (var item in Model.Products.Items) {
        <div class="col-6 col-xl-3 col-lg-4 col-sm-6" style="padding-bottom: 25px">
            <div class="card">
                <div class="card-header">
                    <a class="card-title" asp-page="./Detail" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </div>
                <div class="card-body">
                    <h3 class="card-text"> @Html.DisplayFor(modelItem => item.Price)</h3>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.CategoryId)</p>
                </div>
            </div>
        </div>
    }
</div>


    @{ var prevDisabled = !Model.Products.HasPreviousPage ? "disable" : "";
        var nextDisabled = !Model.Products.HasNextPage ? "disable" : ""; }

    <a asp-page="./Index"
       asp-route-sortOrder="@Model.Products.SortOrder"
       asp-route-pageIndex="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@Model.Products.Search"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.Products.SortOrder"
       asp-route-pageIndex="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@Model.Products.Search"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
